<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.looquiz">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".LicenseActivity">
        </activity>
        <activity
                android:name=".NoticeActivity"
                android:label="공지사항"/>
        <activity
                android:name=".SettingActivity"
                android:label="설정"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".EditPWActivity">
        </activity>
        <activity android:name=".MakingQuizActivity">
        </activity>
        <activity
                android:name=".Main2Activity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".QuizRateActivity">
        </activity>
        <activity android:name=".MyPageActivity">
        </activity>
        <activity android:name=".MyRoomActivity">
        </activity>
        <activity android:name=".FindPWActivity">
        </activity>
        <activity android:name=".FindIDActivity">
        </activity>
        <activity android:name=".SignUpActivity">
        </activity>
        <activity android:name=".RegionList">
        </activity>
        <activity android:name=".BadgeList">
        </activity>
        <activity android:name=".AdviceActivity">
        </activity>
        <activity android:name=".JoinRoomActivity">
        </activity>
        <activity
                android:name=".SignInActivity"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RoomChoose">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyA0vJrMzKA_HvJHafiP0ZglDDIpx0bAzwM"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
    </application>

</manifest>